<h1>SHOW PAGE</h1>


<<<<<<< HEAD
<p><% link_to 'Book Now', new_restaurant_reservation_path(@restaurant.id) %>
<p><% link_to ' Home', root_path %></p>
<p> <% link_to ' New User', new_users_path %></p>
<p><% link_to ' Login', new_sessions_path %></p>
=======
<h3>Address: <%= @restaurant.address %></h3>
<h3>Price: <%= @restaurant.price %></h3>

<h3>Time Availability: <%= @restaurant.time %></h3>


<%= link_to 'Book Now', new_restaurant_reservation_path(@restaurant.id) %>
>>>>>>> 76f00a3d012f1f5d52df3e434e325e36093ecd36
